*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
}

.logo{
    display: flex;
    position: absolute;
    height: 10vh;
}

.language{
    display: flex;
    position: absolute;
    height: 5vh;
    right: 10px;
}

.monster{
    display: flex;
    position: absolute;
    height: 60vh;
    right: 15px;
}

.descricao{
    display: flex;
    height: 30vh;
    position: absolute;
    left: 30px;
    top: 210px;
}

.E{
    display: flex;
    height: 5vh;
    position: absolute;
    left: 30px;
}

.D{
    display: flex;
    position: absolute;
    height: 5vh;
    right: 30px;
}

.h6{
    display: flex;
    color: darkgrey;
    left: 150px;
    top: 640px;
    position: absolute;
}